                        
                        <div class="step">
                          <h3 class="main_question">
                            <strong>1/10</strong>1. Do you have family members
                            or anyone else who is staying with you tonight? /
                            Did you have any family members or anyone else who
                            stayed with you last night?
                          </h3>

                          <div class="row add_bottom_30">
                            <div class="col-sm-6">
                              <div class="form-group checkbox_questions">
                                <label>
                                  <input
                                    name="question_2[]"
                                    type="checkbox"
                                    value="Custom interface and layout"
                                    class="icheck required"
                                  />NONE
                                </label>
                              </div>
                              <div class="form-group checkbox_questions">
                                <label>
                                  <input
                                    name="question_2[]"
                                    type="checkbox"
                                    value="Web site design"
                                    class="icheck required"
                                  />PARTNER
                                </label>
                              </div>
                              <div class="form-group checkbox_questions">
                                <label>
                                  <input
                                    name="question_2[]"
                                    type="checkbox"
                                    value="Seo optimization"
                                    class="icheck required"
                                  />OTHER ADULT(S) (Can include other family or
                                  friends)
                                </label>
                              </div>
                            </div>

                            <div class="col-sm-6">
                              <div class="form-group checkbox_questions">
                                <label>
                                  <input
                                    name="question_2[]"
                                    type="checkbox"
                                    value="CMS integrations (Wordpress)"
                                    class="icheck required"
                                  />DECLINE TO ANSWER
                                </label>
                              </div>
                              <div class="form-group checkbox_questions">
                                <label>
                                  <input
                                    name="question_2[]"
                                    type="checkbox"
                                    value="Domain registration"
                                    class="icheck required"
                                  />CHILD(REN)/DEPENDENT(S)
                                </label>
                              </div>
                            </div>
                          </div>
                          <!-- /row-->
                          <div class="form-group textarea_info">
                            <label>Additional info</label>
                            <textarea
                              name="addtional_info"
                              class="form-control"
                              style="height: 150px"
                              placeholder="indicate gender and age for each"
                            ></textarea>
                          </div>
                        </div>