                        <div class="step">
                          <h3 class="main_question">
                            <strong>5/10</strong>Please answer the following
                            questions:
                          </h3>

                          <div class="row">
                            <div class="col-lg-10">
                              <div class="form-group select">
                                <label
                                  >If you already have an hosting plan, please
                                  define:</label
                                >
                                <div class="styled-select">
                                  <select class="required" name="select_1">
                                    <option value="" selected>Select</option>
                                    <option value="Unix/Linux + Mysql">
                                      Unix/Linux + Mysql
                                    </option>
                                    <option value="Windows + Sql">
                                      Windows + Sql
                                    </option>
                                    <option value="Other">Other</option>
                                  </select>
                                </div>
                              </div>
                              <!-- /select-->

                              <div class="form-group select">
                                <label
                                  >If you need an hosting plan, please define
                                  which one:</label
                                >
                                <div class="styled-select">
                                  <select class="required" name="select_2">
                                    <option value="" selected>Select</option>
                                    <option
                                      value="Hosting Plan 1 year + Mysql database 500MB"
                                    >
                                      1 year + Mysql database 500MB
                                    </option>
                                    <option
                                      value="Hosting Plan 2 year + Mysql database 500MB"
                                    >
                                      2 year + Mysql database 500MB
                                    </option>
                                    <option
                                      value="Hosting Plan 2 year + Mysql database 1GB"
                                    >
                                      2 year + Mysql database 1GB
                                    </option>
                                  </select>
                                </div>
                              </div>
                              <!-- /select-->

                              <div class="form-group select">
                                <label
                                  >If you need a newsletter campaign, please
                                  define the provider you prefer:</label
                                >
                                <div class="styled-select">
                                  <select class="required" name="select_3">
                                    <option value="" selected>Select</option>
                                    <option value="Mailchimp">Mailchimp</option>
                                    <option value="CampaignMonitor">
                                      CampaignMonitor
                                    </option>
                                    <option value="MailUp">MailUp</option>
                                  </select>
                                </div>
                              </div>
                              <!-- /select-->
                            </div>
                          </div>
                          <!-- /row-->
                        </div>