<div class="submit step">
  <h3 class="main_question">
    <strong>10/10</strong>Please fill with your details
  </h3>

  <div class="row">
    <div class="col-sm-6">
      <div class="form-group">
        <input
          type="text"
          name="company_name"
          class="form-control"
          placeholder="Your company name"
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          name="firstname"
          class="required form-control"
          placeholder="First name"
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          name="lastname"
          class="required form-control"
          placeholder="Last name"
        />
      </div>
    </div>
    <!-- /col-sm-6 -->

    <div class="col-sm-6">
      <div class="form-group">
        <input
          type="email"
          name="email"
          class="required form-control"
          placeholder="Your Email"
        />
      </div>
      <div class="form-group">
        <input
          type="text"
          name="telephone"
          class="required form-control"
          placeholder="Your Telephone"
        />
      </div>
      <div class="form-group">
        <div class="styled-select">
          <select class="required" name="country">
            <option value="" selected>Select your country</option>
            <option value="Europe">Europe</option>
            <option value="Asia">Asia</option>
            <option value="North America">North America</option>
            <option value="South America">South America</option>
          </select>
        </div>
      </div>
    </div>
    <!-- /col-sm-6 -->
  </div>
  <!-- /row -->

  <div class="form-group checkbox_questions">
    <input name="terms" type="checkbox" class="icheck required" value="yes" />
    <label
      >Please accept
      <a href="#" data-bs-toggle="modal" data-bs-target="#terms-txt"
        >terms and conditions</a
      >
      ?
    </label>
  </div>
</div>
