
                        <div class="step">
                          <h3 class="main_question">
                            <strong>1/10</strong>What is your budget?
                          </h3>

                          <div class="form-group radio_questions">
                            <label
                              >1. My budget is under $500
                              <input
                                name="question_1"
                                type="radio"
                                value="My budget is under $500"
                                class="icheck required"
                              />
                            </label>
                          </div>
                          <div class="form-group radio_questions">
                            <label
                              >2. My budget is between $500 and $1000
                              <input
                                name="question_1"
                                type="radio"
                                value="My budget is between $500 and $1000"
                                class="icheck required"
                              />
                            </label>
                          </div>
                          <div class="form-group radio_questions">
                            <label
                              >3. My budget is between $1000 and $1500
                              <input
                                name="question_1"
                                type="radio"
                                value="My budget is between $1000 and $1500"
                                class="icheck required"
                              />
                            </label>
                          </div>
                          <div class="form-group radio_questions">
                            <label
                              >4. My budget is over $1500
                              <input
                                name="question_1"
                                type="radio"
                                value="My budget is over $1500"
                                class="icheck required"
                              />
                            </label>
                          </div>
                        </div>
                        <div class="step">
                          <h3 class="main_question">
                            <strong>1/10</strong>What is your budget?
                          </h3>

                          <div class="form-group radio_questions">
                            <label
                              >1. My budget is under $500
                              <input
                                name="question_1"
                                type="radio"
                                value="My budget is under $500"
                                class="icheck required"
                              />
                            </label>
                          </div>
                          <div class="form-group radio_questions">
                            <label
                              >2. My budget is between $500 and $1000
                              <input
                                name="question_1"
                                type="radio"
                                value="My budget is between $500 and $1000"
                                class="icheck required"
                              />
                            </label>
                          </div>
                          <div class="form-group radio_questions">
                            <label
                              >3. My budget is between $1000 and $1500
                              <input
                                name="question_1"
                                type="radio"
                                value="My budget is between $1000 and $1500"
                                class="icheck required"
                              />
                            </label>
                          </div>
                          <div class="form-group radio_questions">
                            <label
                              >4. My budget is over $1500
                              <input
                                name="question_1"
                                type="radio"
                                value="My budget is over $1500"
                                class="icheck required"
                              />
                            </label>
                          </div>
                        </div>